* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* do not draw any paddings inside vuetify containers because of size calculation*/
/* .container {padding: 20px !important;} */

/* draw folder icons inside circle: notes navigation */
i.icon {display: flex;}

/* no underlines for vuetify links */
a {text-decoration: none;}

.v-btn {
  margin: 10px 0 !important;
}

code {
  /* background-color: white; */
  /* color: #bd4147; */
  box-shadow: 0px 0px 0px 0px !important;
  display: inline-block;
  border-radius: 0px;
  white-space: pre-wrap;
  font-size: 85%;
  font-weight: 900;
}
