body {
  padding: 5px 10px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 6px;
}

/* table tr:hover {background-color: rgb(236, 236, 236);} */

table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: rgb(236, 236, 236);
}