/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(100, 100, 100, 0.1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.3);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.3);
  }